.profile-page {
  height: 100vh;
  color: white;
}

.profile-page-body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
  max-width: 800px;
}

.profile-page-body > h1 {
  font-size: 60px;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
}

.profile-page-info {
  display: flex;
}

.profile-page-info > img {
  height: 100px;
}

.profile-page-details {
  color: white;
  margin-left: 25px;
  flex: 1;
}

.profile-page-details > h2 {
  background-color: gray;
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
}

.sign-out-btn {
  padding: 20px;
  font-size: 1rem;
  width: 100%;
  margin-top: 5%;
  color: white;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.profile-page-plans {
  margin-top: 20px;
}

.profile-page-plans > h3 {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}
